In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Data scraped from IAAF.com
df = pd.read_csv('/Users/tom/Projects/IAAF-Stats/Scripts/IAAF_Results.csv')

In [2]:
athletes_groups = df.groupby(['athlete_first_name','athlete_last_name'],
                            as_index = True)

# The number of occurances of each athlete
athletes_results = athletes_groups.agg({
        'country': 'first',
        'gender' : 'first',
        'championship_number' : 'count' # Number of events occured
    })

# The top five athletes by occurance
athletes_results.sort('championship_number',ascending=False).head()

                                     gender  championship_number country
athlete_first_name athlete_last_name
Merlene            Ottey              women                   12     JAM
Veronica           Campbell-Brown     women                   10     JAM
Usain              Bolt                 men                   10     JAM
Frank              Fredericks           men                   10     NAM
Galen              Rupp                 men                    8     USA

In [3]:
# Itooks like wikipedia disagrees with Merlene Ottey's 12 appearances. 
# But wikipedia would be incorrect. Check the downloaded web pages!
# Anyway, the others match.
# 
# Lets see how the winning times for each event have trended

In [4]:
winning_times = df[df['place'] == 1]
winning_times_groups = df.groupby(['distance','gender','championship_number'],
                                 as_index = False)
winning_results = winning_times_groups.agg({
        'athlete_last_name' : 'first',
        'mark_time' : 'first',
    })
winning_results.head()

   distance gender  championship_number  mark_time athlete_last_name
0       100    men                    1      10.07             Lewis
1       100    men                    2       9.93             Lewis
2       100    men                    3       9.86             Lewis
3       100    men                    4       9.87          Christie
4       100    men                    5       9.97            Bailey

In [5]:
# Get the first result of the group, to get indexed changes
first_wins = winning_results.groupby(['distance','gender']).first()
first_wins.reset_index(inplace = True)

winning_first_times_added = winning_results.merge(
    first_wins,
    on=('distance','gender'),
    copy = False
)


winning_fields = winning_first_times_added[[
        'distance',
        'gender',
        'athlete_last_name_x',
        'mark_time_x',
        'mark_time_y']]

winning_fields.columns = [[
        'distance',
        'gender',
        'athlete_last_name',
        'winning_time',
        'index_time']]

In [6]:
winning_fields.head()

   distance gender athlete_last_name  winning_time  index_time
0       100    men             Lewis         10.07       10.07
1       100    men             Lewis          9.93       10.07
2       100    men             Lewis          9.86       10.07
3       100    men          Christie          9.87       10.07
4       100    men            Bailey          9.97       10.07

In [7]:
# To do: plotting