In [1]:
### Looks at how winning times have trended for each
### event, indexed to the first WCs

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Data scraped from IAAF.com
df = pd.read_csv('IAAF_Results.csv')

In [3]:
# Check that the dataset makes sense by comparing some stats 
# we know. We'll look at the athletes with the most appearances and
# check that their medal counts are right.

In [4]:
# Select the athletes by first and last name...
athletes_groups = df.groupby(['athlete_first_name','athlete_last_name'],
                            as_index = True)

# ... and count their number of occurances
athletes_results = athletes_groups.agg({
        'country': 'first',
        'gender' : 'first',
        'championship_number' : 'count' # Number of events occured
    })

# Select the top five athletes by occurance
athletes_results.sort('championship_number',ascending=False).head()

                                      championship_number gender country
athlete_first_name athlete_last_name
Merlene            Ottey                               12  women     JAM
Frank              Fredericks                          10    men     NAM
Veronica           Campbell-Brown                       8  women     JAM
MariadeLurdes      Mutola                               8  women     MOZ
Usain              Bolt                                 8    men     JAM

In [5]:
# Uh oh. Looks like wikipedia disagrees with Merlene Ottey's 12 appearances. 
# But wikipedia would be incorrect. Check the downloaded web pages!
# Anyway, the others match.
# 
# Lets see how the winning times for each event have trended

In [6]:
# Get all the winning times for each gender and event
winning_times = df[df['place'] == 1]
winning_times_groups = df.groupby(['distance','gender','championship_number'],
                                 as_index = False)
winning_results = winning_times_groups.agg({
        'athlete_last_name' : 'first',
        'mark_time' : 'first',
    })
winning_results.head()

   distance gender  championship_number athlete_last_name  mark_time
0       100    men                    1             Lewis      10.07
1       100    men                    2             Lewis       9.93
2       100    men                    3             Lewis       9.86
3       100    men                    4          Christie       9.87
4       100    men                    5            Bailey       9.97

In [7]:
# Get the first result of the group, to get indexed changes
first_wins = winning_results.groupby(['distance','gender']).first()
first_wins.reset_index(inplace = True)

winning_first_times_added = winning_results.merge(
    first_wins,
    on=('distance','gender'),
    copy = False
)


winning_fields = winning_first_times_added[[
        'distance',
        'gender',
        'athlete_last_name_x',
        'mark_time_x',
        'mark_time_y']]

winning_fields.columns = [[
        'distance',
        'gender',
        'athlete_last_name',
        'winning_time',
        'index_time']]

In [8]:
# Forgot to add year of the event
winning_fields.head()

   distance gender athlete_last_name  winning_time  index_time
0       100    men             Lewis         10.07       10.07
1       100    men             Lewis          9.93       10.07
2       100    men             Lewis          9.86       10.07
3       100    men          Christie          9.87       10.07
4       100    men            Bailey          9.97       10.07